.fp-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  flex-direction: column;
  gap: 50px;
}

.fp-form-container {
  display: flex;
  flex-direction: column;
  width: 460px;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 2rem;
  gap: 1.5rem;
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgba(132, 10, 255, 0.1);
  background-color: var(--white);
}

.form-title {
  text-align: center;
}

.fp-error-message {
  color: red;
  font-size: 1rem;
  font-weight: 500;
}

.fp-otp-wrapper {
  background-color: var(--white);
  width: 460px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(96, 255, 183, 0.5);
  align-items: center;
}

.fp-input-container {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.fp-icon {
  font-size: 24px;
}

.fp-password-container {
  width: 100%;
}

.fp-password-icon-container {
  display: flex;
  justify-content: flex-end;
  margin-top: -2rem;
  margin-right: 1rem;
}

.fp-eye-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.fp-input {
  border: 0;
  flex: 1;
  height: 2rem;
  padding: 0.5rem;
  border-bottom: 2px solid rgb(200, 200, 200);
  font-size: 1rem;
}

.fp-input:focus {
  border-color: var(--accent);
  outline: none;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}

.fp-signup-button {
  width: 80%;
  border: none;
  outline: none;
  height: 2.5rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--accent);
  color: whitesmoke;
  font-size: 1rem;
  font-weight: 500;
}

.fp-button-error {
  width: 80%;
  border: none;
  outline: none;
  height: 2.5rem;
  border-radius: 5px;
  background-color: var(--disable);
  color: whitesmoke;
  font-size: 1rem;
  font-weight: 500;
}

@media screen and (max-width: 1250px) {
  .fp-form-container {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .fp-form-container {
    width: 80%;
  }

  .fp-icon,
  .fp-eye-icon {
    font-size: 1.2rem;
  }

  .signup-button {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
  .fp-form-container {
    width: 90%;
  }

  .fp-icon,
  .fp-eye-icon {
    font-size: 1rem;
  }

  .fp-signup-button {
    font-size: 0.8rem;
  }

  .fp-input {
    width: 90%;
  }
}
